<section>
  <mat-card style="width: 1050px">
    <form (ngSubmit)="onPostSubmit()">
      <mat-form-field appearance="fill" style="min-width: 1000px;">
        <mat-label>제목</mat-label>
        <input
          matInput
          [(ngModel)]="title"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>

      <br />

      <mat-form-field appearance="fill" style="min-width: 1000px">
        <mat-label>카테고리</mat-label>
        <mat-select [(value)]="category">
          <mat-option value="정치">정치</mat-option>
          <mat-option value="경제">경제</mat-option>
          <mat-option value="사회">사회</mat-option>
          <mat-option value="생활/문화">생활/문화</mat-option>
          <mat-option value="세계">세계</mat-option>
          <mat-option value="IT/과학">IT/과학</mat-option>
        </mat-select>
      </mat-form-field>

      <br />

      <mat-form-field appearance="fill" style="min-width: 1000px">
        <mat-label>내용</mat-label>
        <textarea
          matInput
          [(ngModel)]="contents"
          [ngModelOptions]="{ standalone: true }"
          cdkTextareaAutosize
          cdkAutosizeMinRows="40"
          cdkAutosizeMaxRows="60"
        >
        </textarea>
      </mat-form-field>

      <br /><br />
      <button type="submit" color="primary" mat-raised-button>
        기사 업로드
      </button>

    </form>
  </mat-card>
</section>
