<form (ngSubmit)="onPostSubmit()">
    제목
    <input type="text" [(ngModel)]="title" [ngModelOptions]="{ standalone: true }">
    카테고리
    <select [(ngModel)]="category" [ngModelOptions]="{ standalone: true }">
        <option>정치</option>
        <option>경제</option>
        <option>사회</option>
        <option>생활/문화</option>
        <option>세계</option>
        <option>IT/과학</option>
    </select>

    내용
    <input type="text" [(ngModel)]="contents" [ngModelOptions]="{ standalone: true }">

    <input type="submit" value="기사 업로드">
</form>