<hr size="10px" />
<br /><br /><br /><br />
<h1 style="text-align: center">로그인</h1>
<br /><br /><br /><br />
<hr size="10px" />

<section>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <form (ngSubmit)="onLoginSubmit()">
              <div
                mat-dialog-content
                align="center"
                style="display: flex; flex-direction: column"
              >
                <mat-form-field appearance="fill">
                  <mat-label>ID</mat-label>
                  <input
                    matInput
                    [(ngModel)]="username"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>비밀번호</mat-label>
                  <input matInput
                  [(ngModel)]="password"
                  [ngModelOptions]="{ standalone: true }" 
                  type="password" />
                </mat-form-field>
                
                <button mat-raised-button color="primary" type="submit">
                  로그인
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
