<hr size="10px" />

<h2 class="pb-3 mb-4 font-italic border-bottom">{{category}} > {{newspaper_company}} > {{reporter}}</h2>

<div class="card">
    <div class="card-body">
        <nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
            <a class="navbar-brand">
                <h4>[{{category}}] {{title}}</h4>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item">&nbsp;작성자: {{reporter}}&nbsp;</li>
                <li class="nav-item">&nbsp;기사 작성: {{post_date}}&nbsp;</li>
                <li class="nav-item">&nbsp;조회수: {{view}}&nbsp;</li>
            </ul>
        </nav>

        <br /><br />

        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example"
            tabindex="0">
            <pre style="font-family: var(--bs-body-font-family); font-size: 1em;">{{contents}}</pre>

        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col text-end">
        <h4>댓글: {{comment_count}}</h4>
    </div>
    <div class="col row">
        <button class="btn btn-primary col col-2" (click)="countUpLike()">좋아요</button>
        <h4 class="col">: {{like}}</h4>
    </div>
</div>

<br>
<div>
    <h3 class="text-center">댓글</h3>
    <form (ngSubmit)="addComment()">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-7">
                <textarea class="form-control" rows="2" [(ngModel)]="comment_content"
                    [ngModelOptions]="{ standalone: true }"></textarea>
            </div>
            <div class="col-2">
                <input type="submit" class="btn btn-secondary" value="댓글 입력">
            </div>
        </div>
    </form>
</div>

<div>
    <div *ngFor="let list1 of commentList">
        {{list1.writer}} &nbsp; {{list1.contents}} &nbsp; {{dateString(list1.comment_date)}} &nbsp; 추천: {{list1.like}}
        <div *ngFor="let list2 of list1.re">
            {{list2.writer}} &nbsp; {{list2.contents}} &nbsp; {{dateString(list2.comment_date)}} &nbsp; 추천:
            {{list2.like}}
        </div>
    </div>
</div>