<hr size="10px" />
<br /><br /><br /><br />
<h1 class="page-header" style="text-align: center">내 정보</h1>
<br /><br /><br /><br />
<hr size="10px" />

<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
  <div class="card p-4">
    <div
      class="image d-flex flex-column justify-content-center align-items-center"
    >
      <button class="btn btn-secondary">
        <img src="../../../assets/image/test.png" height="150" width="150" />
      </button>
      <br />
      <span class="name">이름</span>
      <br />
      <span class="age">나이</span>
      <br />
      <span class="gender">성별</span>
      <br />
      <span class="status">기자 or 일반인</span>
      <br />
      <span class="newspaper_company">회사</span>
      <br />
      <button class="btn1 btn-dark">프로필 수정</button>
    </div>
  </div>
</div>
