<hr size="10px" />
<br /><br /><br /><br />
<h1 class="page-header" style="text-align: center">회원가입</h1>
<br /><br /><br /><br />
<hr size="10px" />

<section>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <form (ngSubmit)="onRegisterSubmit()">
              <div>
                계정 유형
                <div>
                  <br />
                  <div class="form-check form-check-inline">
                    <label>
                      <input
                        class="form-check-input"
                        type="radio"
                        name="status"
                        value="일반"
                        [(ngModel)]="status"
                        ng-checked="isChecked"
                      />
                      일반
                    </label>
                  </div>

                  <div class="form-check form-check-inline">
                    <label>
                      <input
                        class="form-check-input"
                        type="radio"
                        name="status"
                        value="기자"
                        [(ngModel)]="status"
                      />
                      기자
                    </label>
                  </div>
                </div>
              </div>
              <br />

              <div class="form-group">
                <label for="inputUsername">ID</label>
                <input
                  type="text"
                  id="inputUsername"
                  [(ngModel)]="username"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control"
                />
              </div>

              <br />
              <div class="form-group">
                <label for="inputPassword">비밀번호</label>
                <input
                  type="password"
                  id="inputPassword"
                  [(ngModel)]="password"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control"
                />
              </div>

              <br />

              <div class="form-group">
                <label for="inputPwchk">비밀번호 확인</label>
                <input
                  type="password"
                  id="inputPwchk"
                  [(ngModel)]="passwordCheck"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control"
                />
              </div>

              <br />

              <div class="form-group">
                <label for="inputNickname">닉네임</label>
                <input
                  type="text"
                  id="inputNickname"
                  [(ngModel)]="nickname"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control"
                />
              </div>

              <br />

              <div>
                성별
                <div class="form-group">
                  <select
                    class="form-control input-sm"
                    id="gender"
                    [(ngModel)]="gender"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <option style="text-align: center">
                      -- Select your Gender --
                    </option>
                    <option>남</option>
                    <option>여</option>
                  </select>
                </div>
              </div>

              <br />

              <div>
                나이
                <div class="form-group">
                  <select
                    class="form-control input-sm"
                    id="age"
                    [(ngModel)]="age"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <option style="text-align: center">
                      -- Select your Age --
                    </option>
                    <option>~19</option>
                    <option>20~24</option>
                    <option>25~29</option>
                    <option>30~34</option>
                    <option>35~39</option>
                    <option>40~49</option>
                    <option>50~59</option>
                    <option>60~</option>
                  </select>
                </div>
              </div>

              <br />

              <div *ngIf="status == '기자'">
                신문사
                <div class="form-group">
                  <select
                    class="form-control input-sm"
                    id="newspaper_company"
                    [(ngModel)]="newspaper_company"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <option style="text-align: center">
                      -- Select your Age --
                    </option>
                    <option>Alpha</option>
                    <option>Bravo</option>
                    <option>Crawling</option>
                    <option>Delta</option>
                    <option>Echo</option>
                    <option>Foxtrot</option>
                  </select>
                </div>
                <br>
              </div>

              <br />

              <input type="submit" class="btn btn-primary" value="회원가입" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
