<hr size="10px" />
<br /><br /><br /><br />
<h1 class="page-header" style="text-align: center">회원가입</h1>
<br /><br /><br /><br />
<hr size="10px" />

<section>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <form (ngSubmit)="onRegisterSubmit()">
              <div
                mat-dialog-content
                align="center"
                style="display: flex; flex-direction: column"
              >
                <mat-form-field appearance="fill">
                  <mat-label>ID</mat-label>
                  <input matInput
                  [(ngModel)]="username"
                  [ngModelOptions]="{ standalone: true }">
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>비밀번호</mat-label>
                  <input matInput
                  [(ngModel)]="password"
                  [ngModelOptions]="{ standalone: true }" 
                  type="password" />
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>비밀번호 확인</mat-label>
                  <input matInput 
                  [(ngModel)]="passwordCheck"
                  [ngModelOptions]="{ standalone: true }"  
                  type="password" />
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>닉네임</mat-label>
                  <input matInput 
                  [(ngModel)]="nickname" 
                  [ngModelOptions]="{ standalone: true }" />
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>나이</mat-label>
                  <mat-select 
                  [(value)]="age" >
                    <mat-option value="20세 미만">20세 미만</mat-option>
                    <mat-option value="20대">20대</mat-option>
                    <mat-option value="30대">30대</mat-option>
                    <mat-option value="40대">40대</mat-option>
                    <mat-option value="50대">50대</mat-option>
                    <mat-option value="60세 이상">60세 이상</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>성별</mat-label>
                  <mat-select 
                  [(value)]="gender">
                    <mat-option value="남자">남자</mat-option>
                    <mat-option value="여자">여자</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>계정유형</mat-label>
                  <mat-select 
                  [(value)]="status">
                    <mat-option value="기자">기자</mat-option>
                    <mat-option value="일반">일반</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="status == '기자'" appearance="fill">
                  <mat-label>소속 신문사</mat-label>
                  <mat-select 
                  [(value)]="newspaper_company">
                    <mat-option value="Alpha">Alpha</mat-option>
                    <mat-option value="Bravo">Bravo</mat-option>
                    <mat-option value="Crawling">Crawling</mat-option>
                    <mat-option value="Delta">Delta</mat-option>
                    <mat-option value="Echo">Echo</mat-option>
                    <mat-option value="Foxtrot">Foxtrot</mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">
                  회원가입
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
