<hr size="10px" />

<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">PGA</h1>
    <p class="lead my-3">Personalized personal news portal services</p>
    <p class="lead mb-0">
      <a class="text-white">2021) 3rd Semester Project</a>
    </p>
  </div>
</div>

<br />
<hr size="10px" />
<br />

<div class="row mb-2">
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-primary">최신 뉴스</strong>
        <h4 class="mb-0"> {{newPost.title.substr(0,17)}} </h4>
        <div class="mb-1 text-muted">{{dateString(newPost.post_date)}}</div>
        <p class="card-text mb-auto">
          {{newPost.contents.substr(0,57)}}...
        </p>
        <a href="#">Continue reading</a>
      </div>
      <img class="card-img-right flex-auto d-none d-md-block" src="../../../assets/image/test.png"
        alt="Card image cap" />
    </div>
  </div>
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-success">가장 높은 조회수</strong>
        <h4 class="mb-0">{{BestViewPost.title.substr(0,17)}}...</h4>
        <div class="mb-1 text-muted">{{dateString(BestViewPost.post_date)}}</div>
        <p class="card-text mb-auto">
          {{BestViewPost.contents.substr(0,57)}}...
        </p>
        <a href="#">Continue reading</a>
      </div>
      <img class="card-img-right flex-auto d-none d-md-block" src="../../../assets/image/test.png"
        alt="Card image cap" />
    </div>
  </div>
</div>

<br />
<hr size="10px" />
<br />

<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="card">
        <img src="images/card-image.png" alt="" class="card-img-top" />
        <div class="card-body">
          <h3 class="card-title">Alpha</h3>
          <p class="card-text">신문사1</p>
          <a href="#" class="btn btn-dark">More</a>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div class="card">
        <img src="images/card-image.png" alt="" class="card-img-top" />
        <div class="card-body">
          <h3 class="card-title">Bravo</h3>
          <p class="card-text">신문사2</p>
          <a href="#" class="btn btn-dark">More</a>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div class="card">
        <img src="images/card-image.png" alt="" class="card-img-top" />
        <div class="card-body">
          <h3 class="card-title">Crawling</h3>
          <p class="card-text">신문사3</p>
          <a href="#" class="btn btn-dark">More</a>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div class="card">
        <img src="images/card-image.png" alt="" class="card-img-top" />
        <div class="card-body">
          <h3 class="card-title">Delta</h3>
          <p class="card-text">신문사4</p>
          <a href="#" class="btn btn-dark">More</a>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div class="card">
        <img src="images/card-image.png" alt="" class="card-img-top" />
        <div class="card-body">
          <h3 class="card-title">Echo</h3>
          <p class="card-text">신문사5</p>
          <a href="#" class="btn btn-dark">More</a>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Foxtrot</h3>
          <p class="card-text">신문사6</p>
          <a href="#" class="btn btn-dark">More</a>
        </div>
      </div>
    </div>
  </div>
</div>