<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f5f5f5">
  <div class="container-fluid">
    <button mat-raised-button color="primary" routerLink="/">PGA</button>
    <a class="navbar-brand"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <a button mat-button color="primary" href="/newsList?cate=1">
          기사
          <mat-icon>receipt</mat-icon>
        </a>

        <a button mat-button [matMenuTriggerFor]="menu" color="primary">
          신문사
          <mat-icon>assignment</mat-icon>
        </a>

        <mat-menu #menu="matMenu" yPosition="below" color="primary" style="display: block !important;">
          <a button mat-menu-item href="/newsCompany?company=Alpha">
            Alpha
          </a>

          <a button mat-menu-item href="/newsCompany?company=Bravo">
            Bravo
          </a>

          <a button mat-menu-item href="/newsCompany?company=Crawling">
            Crawling
          </a>

          <a button mat-menu-item href="/newsCompany?company=Delta">
            Delta
          </a>

          <a button mat-menu-item href="/newsCompany?company=Echo">
            Echo
          </a>
          <a button mat-menu-item href="/newsCompany?company=Foxtrot">
            Foxtrot
          </a>
        </mat-menu>

        <button mat-button color="primary" routerLink="/subscribe" routerLinkActive="active">
          구독중
          <mat-icon>account_balance_wallet</mat-icon>
        </button>

        <button mat-button color="primary" routerLink="/newPost" routerLinkActive="active">
          기사작성
          <mat-icon> chat</mat-icon>
        </button>
      </ul>

      <!-- 로그인하지 않은 상태 -->
      <button mat-button *ngIf="!checkLoggedIn()" color="primary" routerLink="login" routerLinkActive="active">
        로그인
        <mat-icon>donut_large</mat-icon>
      </button>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <button mat-button *ngIf="!checkLoggedIn()" color="primary" routerLink="/register" routerLinkActive="active">
          회원가입
          <mat-icon>check_circle</mat-icon>
        </button>

        <!-- 로그인한 상태 -->
        <button mat-button *ngIf="checkLoggedIn()" color="primary" routerLink="/profile" routerLinkActive="active">
          내 정보
          <mat-icon>account_circle</mat-icon>
        </button>



        <button mat-button *ngIf="checkLoggedIn()" color="primary" (click)="logout()">
          로그아웃
          <mat-icon>donut_small</mat-icon>
        </button>

      </ul>
    </div>
  </div>
</nav>