<hr size="10px" />

<ul class="nav nav-tabs nav justify-content-around">
  <li class="nav-item">
    <a class="nav-link link-dark" href="/newsList?cate=1" style="cursor: pointer">전체</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark" href="/newsList?cate=2" style="cursor: pointer">정치</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark" href="/newsList?cate=3" style="cursor: pointer">경제</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark" href="/newsList?cate=4" style="cursor: pointer">사회</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark" href="/newsList?cate=5" style="cursor: pointer">생활/문화</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark" href="/newsList?cate=6" style="cursor: pointer">세계</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark" href="/newsList?cate=7" style="cursor: pointer">IT/과학</a>
  </li>
</ul>

<br /><br />
<h3 style="font-weight: bold">Hot Issue</h3>
<br />

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" *ngIf="sortByViewList[0]" (click)="redirectPost(sortByViewList[0]._id)"
        style="cursor: pointer">
        <h5 class="card-title">{{sortByViewList[0].title}}</h5>
        <p class="card-text">
          {{sortByViewList[0].contents.substr(0,97)}} ...
        </p>
        <p>조회수: {{sortByViewList[0].view}} &nbsp; 추천수: {{sortByViewList[0].like}}</p>
      </div>
      <div class="card-body" *ngIf="!sortByViewList[0]">
        <h5 class="card-title">기사없음</h5>
        <p class="card-text">
          기사없음
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" *ngIf="sortByViewList[1]" (click)="redirectPost(sortByViewList[1]._id)"
        style="cursor: pointer">
        <h5 class="card-title">{{sortByViewList[1].title}}</h5>
        <p class="card-text">
          {{sortByViewList[1].contents.substr(0,97)}} ...
        </p>
        <p>조회수: {{sortByViewList[1].view}} &nbsp; 추천수: {{sortByViewList[1].like}}</p>
      </div>
      <div class="card-body" *ngIf="!sortByViewList[1]">
        <h5 class="card-title">기사없음</h5>
        <p class="card-text">
          기사없음
        </p>
      </div>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" *ngIf="sortByViewList[2]" (click)="redirectPost(sortByViewList[2]._id)"
        style="cursor: pointer">
        <h5 class="card-title">{{sortByViewList[2].title}}</h5>
        <p class="card-text">
          {{sortByViewList[2].contents.substr(0,97)}} ...
        </p>
        <p>조회수: {{sortByViewList[2].view}} &nbsp; 추천수: {{sortByViewList[2].like}}</p>
      </div>
      <div class="card-body" *ngIf="!sortByViewList[2]">
        <h5 class="card-title">기사없음</h5>
        <p class="card-text">
          기사없음
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" *ngIf="sortByViewList[3]" (click)="redirectPost(sortByViewList[3]._id)"
        style="cursor: pointer">
        <h5 class="card-title">{{sortByViewList[3].title}}</h5>
        <p class="card-text">
          {{sortByViewList[3].contents.substr(0,97)}} ...
        </p>
        <p>조회수: {{sortByViewList[3].view}} &nbsp; 추천수: {{sortByViewList[3].like}}</p>
      </div>
      <div class="card-body" *ngIf="!sortByViewList[3]">
        <h5 class="card-title">기사없음</h5>
        <p class="card-text">
          기사없음
        </p>
      </div>
    </div>
  </div>
</div>

<br /><br />

<table class="table">
  <thead>
    <tr class="text-center">
      <th scope="col" style="width: 49%">제목</th>
      <th scope="col" style="width: 10%">날짜</th>
      <th scope="col" style="width: 10%">신문사</th>
      <th scope="col" style="width: 10%">작성자</th>
      <th scope="col" style="width: 7%">조회수</th>
      <th scope="col" style="width: 7%">댓글</th>
      <th scope="col" style="width: 7%">추천수</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center" *ngFor="let postNumber of postList" (click)="redirectPost(postNumber._id)"
      style="cursor: pointer">
      <td>{{postNumber.title}}</td>
      <td>{{dateString(postNumber.post_date)}}</td>
      <td>{{postNumber.newspaper_company}}</td>
      <td>{{postNumber.reporter}}</td>
      <td>{{postNumber.view}}</td>
      <td>{{postNumber.comment_count}}</td>
      <td>{{postNumber.like}}</td>
    </tr>
  </tbody>
</table>