<hr size="10px" />

<ul class="nav nav-tabs nav justify-content-around">
  <li class="nav-item">
    <a class="nav-link link-dark" href="#">정치</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark" href="#">경제</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark" href="#">사회</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark" href="#">생활/문화</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark" href="#">세계</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark" href="#">IT/과학</a>
  </li>
</ul>

<br /><br />
<h3 style="font-weight: bold">Hot Issue</h3>
<br />

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

<br /><br />

<table class="table">
  <thead>
    <tr class="text-center">
      <th scope="col" style="width: 70%">제목</th>
      <th scope="col" style="width: 10%">신문사</th>
      <th scope="col" style="width: 10%">작성자</th>
      <th scope="col" style="width: 10%">날짜</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center">
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
